* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#FFF;
}

#main{
background: rgb(219,219,219); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(219,219,219,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(219,219,219,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(219,219,219,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.text-center{
  margin:auto;
  text-align:center;

}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  font-weight:700;
  line-height: 48px;
  display: inline;
}

h2 {

  font-size: 24px;
  font-weight:700;
  line-height: 29px;
  padding: 10px;
}

h3 {

  font-size: 20px;
  font-weight:500;
  line-height: 22px;
}

h4 {
  font-size: 14px;
  font-weight:500;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

b{
    font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.date-text {
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.location-text {
  /*font-size: 16px;
  line-height: 16px;*/
  display:none;
  float: right;

}


p {
  font-size: 14px;
  line-height: 21px;

}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  font-size:18px;
  color:#FFF;
}

.welcome-message {
  font-size: 18px;
  line-height: 28px;
  display:none;
}
#projects{
  padding-right:15px;
  padding-left:15px;
}


#skillsH3 {
  display: none;
}

.orange {color: #F5AE23;}
.bright-orange{color:#FFA900;}
.bright-pink{color: #D100B0;}
.pink{color:#AD1995;}
.bright-blue{color: #154FCB;}
.blue{color:#264EA4;}
.green{color:#C0EB22;}
.bright-green{color:#C3F800;}
.black{color:#000;}

.white{
  font-weight: 400;
  color: #FFFFFF;
}
.white:hover {
  color: #F5AE23;

}

/*.medium {
  background-color: #323232;
  padding-bottom: 10px;
  clear:both;
}*/


/*.dark-gray {
  background-color: #222222;
}*/

/* TODO: Replace with image later */
#header {
  /*background-color: #484848;*/
}
.project-desc{
  min-height:105px;
}
.project-title{
  min-height:50px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  /*height:20%;*/
  width: 15%;
  display: none;
  border-radius:50%;
}

img {
  padding: 10px;
}


.project-img{
    /*width: 90%;*/
    width:100%;
    padding:5px;
    height: 90%;
    transition: width 1.5s;
    -webkit-transition: width 1.5s;
       -moz-transition: width 1.5s;
          o-transition: width 1.5s;
            
}

.project-img:hover
{
    width: 115%;
    height: 115%;
}
a:hover{
  color:#FFF;
  text-decoration:none;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}



@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  .project-img{width:90%;}
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
